.shipping-form {
  background: linear-gradient(135deg, #ffe259 0%, #ffa751 40%, #ff5858 100%);
  border-radius: 15px;
  box-shadow: 0 2px 12px rgba(30, 41, 59, 0.10);
  max-width: 420px;
  margin: 42px auto 0;
  padding: 28px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.shipping-form form {
  background: #fff;
  border-radius: 11px;
  box-shadow: 0 1px 6px rgba(30,41,59,0.08);
  padding: 16px 10px 10px 10px;
  width: 100%;
}


.shipping-form h2 {
  margin-bottom: 28px;
  font-size: 2rem;
  font-weight: 700;
  color: #1a202c;
  text-align: center;
  letter-spacing: 0.05rem;
}

form {
  width: 100%;
}

form fieldset {
  border: none;
  margin: 0 0 18px 0;
  padding: 0;
}

form legend {
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 10px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 14px;
}

.form-group label {
  display: block;
  margin-bottom: 7px;
  color: #24292f;
  font-weight: 500;
  letter-spacing: .01em;
}

.form-group input[type="text"],.form-group input[type="tel"],
.form-group input[type="email"] {
  width: 92%;
  padding: 9px 12px;
  border: 1px solid #dde3ec;
  border-radius: 6px;
  font-size: 1rem;
  background: #fff;
  margin-bottom: 2px;
  transition: border .2s;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus {
  border-color: #2c60d3;
  outline: none;
}

.error-text {
  color: #dd2c2c;
  font-size: 0.97rem;
  margin-top: 2px;
  margin-bottom: 4px;
  display: block;
  font-weight: 500;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px 0;
  background: #464646;
  color: #fff;
  font-size: 1.13rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 16px;
  transition: background .2s;
}

button[type="submit"]:hover {
  background: #999999;
}

.retour button{
  display: block;
  width: 100%;
  padding: 12px 0;
  background: #464646;
  color: #fff;
  font-size: 1.13rem;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 16px;
  transition: background .2s;
  text-underline-offset: none;
}
.retour button:hover {
  background: #999999;
}

.success-message {
  padding: 28px 18px;
  background: #f5faf6;
  border: 1px solid #29b573;
  color: #1e4859;
  border-radius: 12px;
  max-width: 340px;
  margin: 48px auto;
  text-align: center;
}

.select-group label{
  margin-right: 18px;
}
.select-group select{
  border-radius: 5px;
  display: block;
  background: #cccccc;
  color: #000000;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-underline-offset: none;
  margin-left: 125px;
  margin-top: 2px;
}

.radio-group label{
  margin-left: 30px;
  margin-right: 50px
}

.radio-group{
  text-align: center;
  margin-bottom: 7px;
}